{% extends 'base.html' %}
{% block title %} Koti{% endblock %}
{% block content %}
<h1>
    Lähtöruutu
</h1>
<body>
    <p>
        Tämä on Malerin toimiston käyttöön luotu työkalukokoelma, <br>
        jonka avulla toimistotyöstä tulee taas kivaa.
        Näillä työkaluilla toimiston digitaaliset toistoa vaativat työtehtävät <br>
        muuttuvat urakasta muutamaksi hiiren klikkaukseksi ja näin työntekijästä <br>
        ei päivän aikana katoa elämänhalu ja työn ilo.
    </p>
    <h2>
        Mutta tosiaan
    </h2>
        <p>
            Mikäli saat idean uudelle työkalulle, niin ota heti kehittäjään yhteyttä<br>
            ja katsotaan onko se toteutettavissa.
        </p>
    
</body>

{% endblock %}